
extends layout


block content				

	- var patients = JSON.parse(pdata)

	#header
	div#title Medication Plan Monitoring System
	div#loggedIn Logged in as '#{udata.name}'
	button#btn-logout.btn.btn-primary
					i.icon-lock.icon-white
					| Sign Out
	#header-border
	div#listTitle Patients

	- if(patients !== null){
	- for (var i = 0; i < patients.length; ++i) {
	listItem(id="#{i}")
		labelImg
		labelPatient(id="patient-#{i}") #{patients[i].name}
		labelId(id="ec-#{i}", text="#{patients[i].ec}") EC: #{patients[i].ec}
	- }
	- }
	include modals/alert
	include modals/confirm

	#footer
		div#footer-border 
	div#footer-text (C) FH Hagenberg, 2013 Mobile Health & Sports
	
block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')